/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Override */

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* Nav */
.nav {
    display: flex;
    border-bottom: 1px solid rgba(54, 56, 58, 1);
}

.nav .nav-item {
    margin: 0px 16px 0px 0px;
    padding: 16px 8px;
    color: rgba(173, 175, 177, 1);
    text-decoration: none;
    font-size: 14px;
}

.nav .nav-item:hover {
    border-bottom: 2px solid rgba(54, 56, 58, 1);
}

.nav .nav-item.active {
    color: rgba(230, 230, 228, 1);
    border-bottom: 2px solid rgba(221, 135, 68, 1);
}

/* Main */

body {
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 1);
    color: rgba(28, 28, 27, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header, div#main, footer {
    margin: auto;
    overflow: hidden;
}

header {
    width: 100%;
    background-color: rgba(230, 230, 228, 1);
    color: rgba(28, 28, 27, 1);
}

#header-title {
    margin: 0px 10px;
}

#main {
    width: 60%;
    min-height: 100%;
    margin: 24px auto 0px !important;
}

footer {
    width: 100%;
}

#main-profile {
    display: block;
    -ms-display: inline;
    float: left;
    max-width: 230px;
    width: 20%;
}

#main-profile [data-css="image"] {
    width: 100%;
}

#main-profile [data-css="user-name"] {
    display: block;
    margin: 0px;
    padding: 16px 0px;
    color: rgba(170, 167, 163, 1);
    font-weight: 300;
}

#main-profile [data-css="real-name"] {
    display: block;
    margin: 0px 0px 16px 0px;
    color: rgba(120, 189, 221, 1);
    font-weight: 300;
}

#main-info {
    display: block;
    -ms-display: inline;
    float: left;
    width: 80%;
}

#main-info [data-css="box"] {
    margin-bottom: 24px;
    padding: 8px 16px;
    background-color: rgba(20, 23, 26, 1);
    color: rgba(174, 201, 226, 1);
    border: 1px solid rgba(30, 45, 57, 1);
    border-radius: 3px;
}

#main-info [data-css="project"] {
    margin: 24px 0px 0px 0px;
}

#main-info [data-css="project-header"] {
    margin: 0px 0px 8px 0px;
    color: rgba(230, 230, 228, 1);
    font-weight: 300;
}

#main-info [data-css="project-box"] {
    display: flex;
}

#main-info [data-css="project-box-item"] {
    width: 50%;
    margin: 0px 0px 16px 0px;
    padding: 16px;
    text-decoration: none;
    border: 1px solid rgba(54, 56, 58, 1);
    border-radius: 3px;
}

#main-info [data-css="project-box-item"]:hover {
    background-color: rgba(54, 56, 58, 1);
}

#main-info [data-css="project-box-item"]:nth-child(even) {
    margin-left: 8px;
}

#main-info [data-css="project-box-item"]:nth-child(odd) {
    margin-right: 8px;
}

#main-info [data-css="project-box-item-title"] {
    display: block;
    margin: 0px 0px 24px 0px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(120, 189, 221, 1);
}

#main-info [data-css="project-box-item"]:hover span:first-child {
    text-decoration: underline;
}

#main-info [data-css="project-box-item-description"] {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: rgba(173, 175, 177, 1);
}
