<div class="container-fluid">
    <div class="row">
        <div class="col-12 py-1 background-color bc-4-10">
            <div class="col-12 col-lg-9 mx-auto text-justify color c-5-10">
                <div class="row border-bottom">
                    <div class="col-12 col-md-4 p-4 separator-right footer-separator">
                        <h4>Nosotros</h4>
                        <span>Somos una firma que brinda soluciones para el desarrollo empresarial, contamos con una amplia gama de servicios de consultoría y auditoría de alto valor agregado para cubrir diversas necesidades y superar las expectativas sobre nuestros trabajos.</span>
                    </div>
                    <div class="col-12 col-md-4 p-4 separator-right footer-separator">
                        <h4>Servicios</h4>
                        <ul>
                            <li>
                                <a href="#" class="color c-5-10">Inventarios</a>
                            </li>
                            <li>
                                <a href="#" class="color c-5-10">Kardex Reconstrucción</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 p-4">
                        <h4>Contacto</h4>
                        <span>Somos una firma que brinda soluciones para el desarrollo empresarial, contamos con una amplia gama de servicios de consultoría y auditoría de alto valor agregado para cubrir diversas necesidades y superar las expectativas sobre nuestros trabajos.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 py-4">© 2018 TaxForce</div>
                    <div class="col-12 col-sm-6 py-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>