<div class="container-fluid">
    <div class="row">
        <div class="col-12 py-1 background-color bc-3-10">
            <div class="col-12 col-lg-9 mx-auto text-justify color c-2-10">
                <div class="row border-bottom">
                    <div class="col-12 col-md-4 p-4 separator-right footer-separator">
                        <h4>Nosotros</h4>
                        <span>Somos un equipo profesional multidisciplinario, con amplia experiencia en el mercado de asesoría empresarial. Nuestra visión es ir más allá de la prestación, para convertirnos en un aliado de su empresa; aportando soluciones innovadoras.</span>
                    </div>
                    <div class="col-12 col-md-4 p-4 text-left separator-right footer-separator">
                        <h4>Servicios</h4>
                        <ul class="fa-ul mx-4">
                            <li>
                                <a href="servicios.html#item-1" class="color c-2-10">
                                    <i class="fa-li fas fa-angle-right"></i>
                                    Consultoría Contable y Tributaria
                                </a>
                            </li>
                            <li>
                                <a href="servicios.html#item-2" class="color c-2-10">
                                    <i class="fa-li fas fa-angle-right"></i>
                                    Cumplimiento tributario
                                </a>
                            </li>
                            <li>
                                <a href="servicios.html#item-3" class="color c-2-10">
                                    <i class="fa-li fas fa-angle-right"></i>
                                    Precios de transferencia
                                </a>
                            </li>
                            <li>
                                <a href="servicios.html#item-4" class="color c-2-10">
                                    <i class="fa-li fas fa-angle-right"></i>
                                    Servicios especiales
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 p-4 text-left">
                        <h4>Contacto</h4>
                        <ul class="fa-ul mx-4">
                            <li><i class="fa-li fas fa-map-marker"></i>Av. Paseo de la Republica 3127, Oficina 402, San Isidro 15047</li>
                            <li><i class="fa-li fas fa-phone"></i>4402028 - 998715495</li>
                            <li><i class="fa-li fas fa-envelope"></i>rleon@taxforce.com.pe</li>
                            <!--<li><i class="fa-li fas fa-globe"></i>taxforce</li>-->
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 py-4">© 2018 Tax Force S.A.C.</div>
                </div>
            </div>
        </div>
    </div>
</div>