<div class="container-fluid">
    <div class="row">
        <div class="col-12 py-1 background-color bc-3-10">
            <div class="col-12 col-lg-9 mx-auto text-justify color c-2-10">
                <div class="row border-bottom">
                    <div class="col-12 col-md-4 p-4 separator-right footer-separator">
                        <h4>Nosotros</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a malesuada sem, sed convallis est. Quisque at mollis velit. Phasellus scelerisque nibh libero, non dictum leo feugiat ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                    </div>
                    <div class="col-12 col-md-4 p-4 separator-right footer-separator">
                        <h4>Servicios</h4>
                        <ul>
                            <li>
                                <a href="servicios.html#item-1" class="color c-2-10">Consultoría</a>
                            </li>
                            <li>
                                <a href="servicios.html#item-2" class="color c-2-10">Cumplimiento tributario</a>
                            </li>
                            <li>
                                <a href="servicios.html#item-3" class="color c-2-10">Precios de transferencia</a>
                            </li>
                            <li>
                                <a href="servicios.html#item-4" class="color c-2-10">Servicios especiales</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 p-4">
                        <h4>Contacto</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a malesuada sem, sed convallis est. Quisque at mollis velit. Phasellus scelerisque nibh libero, non dictum leo feugiat ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 py-4">© 2018 TaxForce</div>
                    <div class="col-12 col-sm-6 py-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>