<div class="container-fluid">
    <div class="row">
        <div class="col-12 py-3 background-color bc-3-10">
            <div class="col-11 col-lg-9 mx-auto">
                <div class="row">
                    <img src="http://csconsulting.com.pe/images/logo.png" id="header-logo">
                    <div class="col color c-2-10">TaxForce</div>
                </div>
            </div>
        </div>
        <div id="header-menu" class="col-12 px-0 background-color bc-3-10">
            <div class="col-12 col-lg-11 mx-auto">
                <nav class="navbar navbar-expand-lg navbar-dark py-2 py-lg-0 text-uppercase">
                    <button id="header-menu-button" class="navbar-toggler col-12 p-0 text-left color c-2-10" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="">
                        <i class="fa fa-bars" aria-hidden="true"></i> 
                        <span>Menú</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link px-3 color c-2-10" href="index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 color c-2-10" href="#">Quienes Somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 color c-2-10" href="servicios.html">Nuestros Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 color c-2-10" href="clientes.html">Clientes y Experiencia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 color c-2-10" href="index.html#contact">Contactanos</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>