.background-color {
    /* TODO */
}

.background-color.bc-1-10, .background-color.bc-h-1-10:hover {
    background-color: rgba(0, 0, 0, 1.0) !important;
}

.background-color.bc-2-10, .background-color.bc-h-2-10:hover {
    background-color: rgba(255, 255, 255, 1.0) !important;
}

.background-color.bc-3-10, .background-color.bc-h-3-10:hover {
    background-color: rgba(117, 26, 35, 1.0) !important;
}

.background-color.bc-4-10, .background-color.bc-h-4-10:hover {
    background-color: rgba(34, 30, 31, 1.0) !important;
}

.background-color.bc-5-10, .background-color.bc-h-5-10:hover {
    background-color: rgba(239, 239, 239, 1.0) !important;
}

.background-color.bc-6-10, .background-color.bc-h-6-10:hover {
    background-color: rgba(116, 116, 116, 1.0) !important;
}

.color {
    text-decoration: none !important;
}

.color.c-1-10, .color.c-h-1-10:hover {
    color: rgba(0, 0, 0, 1.0) !important;
}

.color.c-2-10, .color.c-h-2-10:hover {
    color: rgba(255, 255, 255, 1.0) !important;
}

.color.c-3-10, .color.c-h-3-10:hover {
    color: rgba(117, 26, 35, 1.0) !important;
}

.color.c-4-10, .color.c-h-4-10:hover {
    color: rgba(34, 30, 31, 1.0) !important;
}

.color.c-5-10, .color.c-h-5-10:hover {
    color: rgba(239, 239, 239, 1.0) !important;
}

.color.c-6-10, .color.c-h-6-10:hover {
    color: rgba(116, 116, 116, 1.0) !important;
}

.separator-right {
    position: relative;
}

#header-logo {
    height: 90px;
}

#header-menu {
    margin-top: 1px !important;
}

#header-menu-button {
    border: none;
}

.footer-separator:after {
    position: absolute;
    right: 0%;
    width: 1px;
    content: "";
    background-color: white;
    height: 75%;
    top: 50%;
    transform: translate(0%, -50%);
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    #header-menu {
        /*margin-top: 0px !important;*/
    }
}

@media (max-width: 767.98px) {
    .footer-separator:after {
        width: 100%;
        height: 1px;
        top: 100%;
        transform: translate(0%, 0%);
    }
}

@media (max-width: 575.98px) {

}