#carouselAboutControls {
    box-shadow: 0px 0px 1px 0px rgba(34, 30, 31, 1.0);
}

#carouselAboutControls .carousel-item {
    height: 350px;
    background-position: center;
    background-size: cover;
}

#carouselAboutControls #carousel-item-1 {
    background-image: url("http://csconsulting.com.pe/data1/images/servicios.jpg");
}

#carouselAboutControls #carousel-item-2 {
    background-image: url("http://csconsulting.com.pe/data1/images/consultoria.jpg");
}

#carouselAboutControls #carousel-item-3 {
    background-image: url("http://csconsulting.com.pe/data1/images/tasaciones.jpg");
}

.about.image {
    height: 150px;
}

.about.name {
    font-size: 14px;
}

@media (max-width: 1199.98px) {
    #carouselAboutControls .carousel-item {
        height: 300px;
    }
}

@media (max-width: 991.98px) {
    #carouselAboutControls .carousel-item {
        height: 250px;
    }
}

@media (max-width: 767.98px) {
    #carouselAboutControls .carousel-item {
        height: 200px;
    }
}

@media (max-width: 575.98px) {
    #carouselAboutControls .carousel-item {
        height: 150px;
    }
}